<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login & Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login-reg.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'login-reg.js' %}"></script>
</head>
<body>
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.get_full_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                </tr>
            {% empty %}
                <h4>No users added yet</h4>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>