<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login & Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login-reg.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'login-reg.js' %}"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Welcome!</h1>
            {% if current_user %}
                <div>
                    <p>Logged in as {{current_user.first_name}}</p>
                    <a href="main">Go to main site</a>
                </div>
            {% else %}
                <p>Not logged in</p>
            {% endif %}
            
            <a href="/logout">Log Out</a>
        </div>

        <div id="main-content">
            <form id="registration" action="/users/create" method="POST">
                {% csrf_token %}                
                <fieldset>
                    <legend>Registration</legend>
                    <table>
                        <tbody>
                            <tr>
                                <td><label for="first_name">First Name:</label></td>
                                <td><input type="text" name="first_name" id="first_name"></td>
                            </tr>
                            <tr>
                                <td class="error_row" colspan="2"></td>
                            </tr>
                            <tr>
                                <td><label for="last_name">Last Name:</label></td>
                                <td><input type="text" name="last_name" id="last_name"></td>
                            </tr>                       
                            <tr>
                                <td class="error_row" colspan="2"></td>
                            </tr>                        
                            <!-- <tr>
                                <td><label for="alias">Alias:</label></td>
                                <td><input type="text" name="alias" id="alias"></td>
                            </tr>                       
                            <tr>
                                <td class="error_row" colspan="2"></td>
                            </tr> -->
                            <tr>
                                <td><label for="email">Email:</label></td>
                                <td><input type="text" name="email" id="email"></td>
                            </tr>                        
                            <tr>
                                <td class="error_row" colspan="2"></td>
                            </tr>                        
                            <!-- <tr>
                                <td><label for="birthday">Birthday:</label></td>
                                <td><input type="date" name="birthday" id="birthday"></td>
                            </tr>
                            <tr>
                                <td class="error_row" colspan="2"></td>
                            </tr> -->
                            <tr>
                                <td><label for="password">Password:</label></td>
                                <td><input type="password" name="password" id="password"></td>
                            </tr>
                            <tr>
                                <td class="error_row" colspan="2"></td>
                            </tr>                       
                            <tr>
                                <td><label for="confirm">Confirm:</label></td>
                                <td><input type="password" name="confirm" id="confirm"></td>
                            </tr>                       
                            <tr>
                                <td class="error_row" colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <input type="submit" value="Register">
                </fieldset>
            </form>
            
            <form id="login" action="/login" method="POST">
                {% csrf_token %}
            
                <fieldset>
                    <legend>Login</legend>
                    <table>
                        <tr>
                            <td><label for="login_email">Email:</label></td>
                            <td><input type="text" name="login_email" id="login_email"></td>
                        </tr>           
                        <tr>
                            <td class="error_row" colspan="2"></td>
                        </tr>                    
                        <tr>
                            <td><label for="login_password">Password:</label></td>
                            <td><input type="password" name="login_password" id="login_password"></td>
                        </tr>            
                        <tr>
                            <td class="error_row" colspan="2"></td>
                        </tr>
                    </table>
                    
                    <input type="submit" value="Log In">
                </fieldset>
            </form>
        </div>
    </div>
    {% if messages %}
        <div id="error-messages">
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>