<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login & Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login-reg.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'login-reg.js' %}"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h3>Success! Welcome, {{current_user.first_name}}</h3>
            <a href="/logout">log off</a>
        </div>
        <p class="green-text">Successfully {{request.session.status}}</p>
        <i>You will be redirected in 5 seconds</i>
        <br>
        <a href="/main">Go to main page</a>
    </div>
</body>
</html>